<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Home</title>
  </head>
  <body style="background-image: url('/static/bg1.jpg'); background-size:cover;">
    <div class="containter">
      <div class="row" id="navbar">
        <div class="col-sm text-center text">
          <a href="{% url 'homepage:home' %}">H O M E</a>
        </div>
        <div class="col-sm text-center text">
          <a href="{% url 'homepage:profile' %}">P R O F I L E</a>
        </div>
        <div class="col-sm text-center text">
          <a href="{% url 'homepage:experience' %}">E X P E R I E N C E</a>
        </div>
        <div class="col-sm text-center text">
          <a href="{% url 'homepage:reachme' %}">R E A C H <sp>  M E</a>
        </div>
        <div class="col-sm text-center text">
          <a href="{% url 'homepage:addfriend' %}">F R I E N D S</a>
        </div>
      </div>
    </div>
   <div class="container">
    <div class="hello-world">
    <div class="turqbar-container">
      <div class="turqbar"></div>

    </div>
      <div class="heading-texts">
        <div class="text-wrapper">
          <h1 class="text-center title-text float-left">HELLO WORLD</h1>
          <h4 class="little-text">feel free to navigate through my website</h4>
        </div>

      </div>
    <div class="turqbar-container">
      <div class="turqbar2"></div>
      </div>
    </div>
    <h1 class="name-wrapper text-uppercase float-right">inez zahra</h1>
   </div>
  

    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>