<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Profile</title>
  </head>
  <body style="background: url('/static/bg1.jpg'); background-size:cover;">
    <div class="containter">
      <div class="row" id="navbar">
        <div class="col-sm text-center text">
          <a href="{% url 'homepage:home' %}">H O M E</a>
        </div>
        <div class="col-sm text-center text">
          <a href="{% url 'homepage:profile' %}">P R O F I L E</a>
        </div>
        <div class="col-sm text-center text">
          <a href="{% url 'homepage:experience' %}">E X P E R I E N C E</a>
        </div>
        <div class="col-sm text-center text">
          <a href="{% url 'homepage:reachme' %}">R E A C H <sp>  M E</a>
        </div>
        <div class="col-sm text-center text">
          <a href="{% url 'homepage:addfriend' %}">F R I E N D S</a>
        </div>
      </div>
    </div>


    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <div class="profile-summary">
            <img src="{% static 'Rectangle8.png' %}" alt="" srcset="" class="profile-img">
            <div class="summary-wrapper">
              <p class="summary-text">A computer science student who loves to explore and learn new things. Has an always curious nature and is fascinated by a lot of things.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="porto-wrapper">
            <div class="porto-title">
              <p class="porto-title-text">Skills & Proficiency</p>
            </div>
            <div class="porto-bar-wrapper">
              <div class="porto-bar text-center" id="skill">
                <div class="skill-wrapper">
                  <div class="skill-bar">
                    <div class="filled-skill" id="python">
                      <p>Python</p>
                    </div>
                  </div>
            <div class="skill-bar">
              <div class="filled-skill-gray" id="english">
                <p>English Language</p>
              </div>
            </div>
            <div class="skill-bar">
              <div class="filled-skill" id="design">
                <p>Design</p>
              </div>
            </div>
            <div class="skill-bar">
              <div class="filled-skill-gray" id="java">
                <p>Java</p>
              </div>
            </div>
            <div class="skill-bar">
              <div class="filled-skill" id="teamwork">
                <p>Teamwork</p>
              </div>
            </div>
            <div class="skill-bar">
              <div class="filled-skill-gray" id="thinking">
                <p>Analytical Thinking</p>
              </div>
            </div>
            </div>
            </div>


            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="porto-wrapper">
            <div class="porto-title">
              <p class="porto-title-text">Educational Background</p>
            </div>
            <div class="porto-bar-wrapper">
              <div class="porto-bar text-center" id="education">
              <div class="school-exp-wrapper">
                <div class="school-exp">
                  <img src="{% static 'ui.png' %}" alt="" height="50px" width="auto" class="float-left">
                  <p class="edu-text">Universitas Indonesia
                  <br>Faculty of Computer Science</p>
              </div>
                  <div class="school-exp">
                  <img src="{% static 'kb.jpeg' %}" alt="" height="50px" width="auto" class="float-left">
                  <p class="edu-text">Universitas Indonesia
                  <br>Faculty of Computer Science</p>
              </div>
              <div class="school-exp">
                  <img src="{% static 'lab.png' %}" alt="" height="50px" width="auto" class="float-left">
                  <p class="edu-text">Universitas Indonesia
                  <br>Faculty of Computer Science</p>
              </div>
              <div class="school-exp">
                  <img src="{% static 'bakti.jpg' %}" alt="" height="50px" width="auto" class="float-left">
                  <p class="edu-text">Universitas Indonesia
                  <br>Faculty of Computer Science</p>
              </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
   {%include 'footer.html'%}

  

    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>