<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Home</title>
  </head>
  <body style="background-image: url('/static/bg1.jpg'); background-size:cover;">
    <div class="containter">
      <div class="row" id="navbar">
        <div class="col-sm text-center text">
          <a href="{% url 'homepage:home' %}">H O M E</a>
        </div>
        <div class="col-sm text-center text">
          <a href="{% url 'homepage:profile' %}">P R O F I L E</a>
        </div>
        <div class="col-sm text-center text">
          <a href="{% url 'homepage:experience' %}">E X P E R I E N C E</a>
        </div>
        <div class="col-sm text-center text">
          <a href="{% url 'homepage:reachme' %}">R E A C H <sp>  M E</a>
        </div>
        <div class="col-sm text-center text">
          <a href="{% url 'homepage:addfriend' %}">F R I E N D S</a>
        </div>
      </div>
    </div>
    <title>See Friends</title>
<br><br>
<h1 id="profh1" style="text-align: center;">My Friends</h1>

<table id="friendtable" class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Batch</th>
        <th scope="col">Hobby</th>
        <th scope="col">Fav Food</th>
        <th scope="col">Fav Drink</th>
      </tr>
    </thead>
    <tbody>
      {% for friend in friendss %}
        <tr class="table-info">
          <td class="table-secondary">{{ friend.name }}</td>
          <td class="table-info">{{ friend.ClassYear }}</td>
          <td class="table-secondary">{{ friend.hobby }}</td>
          <td class="table-info">{{ friend.food }}</td>
          <td class="table-secondary">{{ friend.drink }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'homepage:addfriend' %}" style="text-decoration: none;"> 
    <button id="friendButton" type="button" class="btn btn-light">
      Add Friends</button> </a>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>